name: CI
on: [push, pull_request]
jobs:
  test:
    name: Test
    if: "!startsWith(github.ref, 'refs/tags/')"
    strategy:
      matrix:
        include:
          - java: 11
          - java: 17
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Run tests
        uses: eskatos/gradle-command-action@v2
        with:
          arguments: test
  publish:
    runs-on: ubuntu-latest
    needs: [ test ]
    # See https://github.com/actions/runner/issues/491#issuecomment-850884422 for explanation on why always() is needed
    if: always() && (needs.test.result == 'success' || needs.test.result == 'skipped') && github.repository == 'git-as-svn/git-lfs-java' && github.event_name != 'pull_request' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/'))
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 11 # Build releases using oldest supported jdk
      - name: Publish to Sonatype
        uses: eskatos/gradle-command-action@v2
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        with:
          arguments: publish closeAndReleaseStagingRepository
