name: CI
on: [push, pull_request]
jobs:
  test:
    name: Test
    if: "!startsWith(github.ref, 'refs/tags/')"
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
          - java: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Run tests
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: test
  publish:
    runs-on: ubuntu-latest
    needs: [ test ]
    if: github.repository == 'bozaro/git-as-svn' && github.event_name != 'pull_request' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/'))
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 8 # Build releases using oldest supported jdk
      - name: Publish to Sonatype
        uses: eskatos/gradle-command-action@v1
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        with:
          arguments: publish closeAndReleaseRepository
